.logo {
  width: 200px;
  height: auto;
  padding: 32px;
  opacity: 0.25;
}

.logo-container:hover {
  background-color: rgba(144, 144, 150, 0.25);
}

.SideBar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #181818;
}
.spacer {
  height: 20%;
  background-color: rgba(144, 144, 150, 0.25);
}

.nav-item {
  border-top: 1px solid rgba(144, 144, 150, 0.25);
}

.nav-item:hover {
  background-color: rgba(144, 144, 150, 0.25);
  color: rgba(27, 146, 67, 0.75);
}

.nav-item p {
  font-family: "Montserrat";
  text-align: center;
  color: rgba(144, 144, 150, 0.75);
  padding: 12.5%;
  text-decoration: none;
}

.nav-item p:hover {
  color: rgba(27, 146, 67, 0.75);
  font-weight: bold;
  font-size: 1.2rem;
}

.bottom-spacer {
  border-top: 1px solid rgba(144, 144, 150, 0.25);
}

.icons {
  display: flex;
  justify-content: space-evenly;

  margin-bottom: 32px;
}
.icon {
  color: rgba(144, 144, 150, 0.75);
}
.icon:hover {
  color: rgba(27, 146, 67, 0.75);
}
