.container.work {
  width: 85%;
  height: 100vh;
  background-color: #1d1d1d;
  border-left: 1px solid rgba(144, 144, 150, 0.25);
  display: flex;
}

h1 {
  margin-top: 13%;
  margin-left: 5%;
  margin-bottom: 5%;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 4rem;
  color: rgb(255, 255, 255);
}
